# Main
google-genai>=1.51.0
google-cloud-texttospeech>=2.28.0
moviepy>=2.1.2
Pillow>=10.4.0
imageio-ffmpeg>=0.5.1

fastapi>=0.116.0
uvicorn[standard]>=0.35.0
python-multipart>=0.0.20
google-cloud-storage>=3.1.0

# === Utilities ===
python-dotenv>=1.0
colorlog==6.10.1

# === Testing ===
pytest>=8.0

